body {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}
main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: center;
}
nav {
    margin: 1rem;
}
a {
    background-color: rgb(189, 208, 227);
    border-radius: 10px;
    padding: 0.4rem;
}
input {
    background-color:azure ;
    width: 12rem;
    height:3rem;
    margin-top: 0.4rem;
    font-size: 3rem;
}
select {
    font-size: 2rem;
    padding: 1rem;
}
h1 {
    font-size: 3rem;
    margin: 0;
}
h2 {
    font-size: 1.3rem;
    font-weight: 100;
    margin: 0;
    font-style: oblique;
}
h3 {
    font-size: 1rem;
    max-width: 40rem;
}
footer {
    font-size: 13px;
    font-style: italic;
    margin-top: 1rem;
}
